#board {
  position: relative;
  margin: auto;
  height: 96vh;
  width: 96vh;
  background-color: #aaa;
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.square {
  background-color: white;
  height: 100%;
  width: 100%;
  display: grid;
}

.player-mark-x {
  margin: auto;
  height: 100%;
  width: 100%;
}

.player-mark-o {
  margin: auto;
  height: 100%;
  width: 100%;
}

#winner-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*
#winner-msg {
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
}
#winner-msg .player-mark-x,
#winner-msg .player-mark-o {
  display: inline-block;
  height: 14pt;
  width: 14pt;
};
*/